body {
    background-color: #F0FFFF;

}

#main-div {
    text-align: center;
    width: 50%;
    margin: 0 auto;

}

header {
    text-align: center;
    margin-top: 50px;
}

#start-screen-div {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}

#start-screen-div>h1 {
    margin-bottom: 8vh;
}

#start-screen-div> select{
    text-align: center;
}

#start-screen-div> input{
    text-align: center;
}

#start-screen-div> button{
    text-align: center;
    margin-top: 20px;
}

.questions-div {
    text-align: center;
    margin-top: 50px;
}

.answers-div {
    text-align: center;
    border: 2px solid black;
    background-color: beige;
    width: 70%;
    margin: 0 auto;
}

.answer {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 1rem;
}