body {
    background-color: red;
    background-image: url(./assets/bc.jpg);
}

#main-div {
    display: flex;
    flex-direction: column;
    color: black;
}

header {
    text-align: center;
    margin-top: 50px;
}

#start-screen-div {
    text-align: center;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    margin-top: 10%;
    background-color: rgb(231, 229, 229, 0.9);
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
}

#start-screen-div>h2 {
    margin-bottom: 8vh;
}

#start-screen-div>select {
    text-align: center;
}

#start-screen-div>input {
    text-align: center;
}

#start-screen-div>button {
    text-align: center;
    margin-top: 20px;
}

#end-screen-div {
    background-color: rgb(231, 229, 229, 0.9);
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

#end-screen-div>button {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 500;

}

.container {
    width: 25% !important;
    height: 500px;
    padding: 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 10%;
    background-color: rgb(231, 229, 229, 0.9);
    border-radius: 10px;
}

.question {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.answer {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: white;
    border: 2px solid rgb(212, 209, 209)
}

.answer:hover {
    background-color: rgb(240, 238, 238);
}

.next-button {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.next-button:hover {
    background-color: #007bff;
}